@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* #region Hero */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/dark-bgd@1x.webp");
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  .title-hero {
    margin-bottom: 48px;
  }
  /* #endregion */

  /* #region Feature */
  .icon-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .feature-icon {
    min-width: 64px;
    min-height: 64px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .title-list {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .list-feature {
    max-width: 1128px;
    gap: 24px;
  }

  .item-feature {
    width: calc((100% - 3 * 24px) / 4);
  }
    .feture-text {
      font-weight: 400;
    }
  /* #endregion */

  /* #region Card */

  .list-card {
    gap: 24px;
    max-width: 1158px;
  }
  /* #endregion */

/* #region Portfolio */

.img-portfolio {
  width: 360px;
    height: 300px;
}
/* #endregion */
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/dark-bgd@2x.webp");
  }
}
