/* #region basic */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title-list {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion */

/* #region reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

button {
  cursor: pointer;
}

* ::after ::before {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

/* #endregion */

/* #region Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

.list-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin-right: 0;
}

@media only screen and (max-width: 767.98px) {
  .list-nav {
    display: none;
  }
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0px;
}

.list-address {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  .list-address {
    flex-direction: column;
    gap: 12px;
  }
}

@media only screen and (min-width: 1158px) {
  .list-address {
    flex-direction: row;
  }
}

@media only screen and (max-width: 767.98px) {
  .list-address {
    display: none;
  }
}

.logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.logo-nav {
  padding: 16px 0;
}

@media only screen and (min-width: 768px) {
  .logo-nav {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo-nav {
    margin-right: 76px;
  }
}

.logo-dark {
  color: #2e2f42;
}

.link-nav {
  position: relative;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav.active {
  color: #404bbf;
}
.link-nav.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
}
.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

.link-address {
  color: #434455;
  font-weight: 400;

  font-style: normal;
  letter-spacing: 0.02em;
  margin-right: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .link-address {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
}

@media only screen and (min-width: 1158px) {
  .link-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.link-address:focus,
.link-address:hover {
  color: #404bbf;
}

.link-address:active {
  color: #404bbf;
}

.mobile-menu-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  min-width: 24px;
  min-height: 24px;
}

@media only screen and (min-width: 768px) {
  .header .mobile-menu-btn {
    display: none;
  }
}

/* #endregion */
