




/* #region Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.list-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin-right: 0;
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.list-address {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.logo-nav {
  margin-right: 76px;
}

.logo-dark {
  color: #2e2f42;
}

.link-nav {
  position: relative;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav.active {
  color: #404bbf;
}
.link-nav.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
}
.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

.page-address {
  font-style: normal;
}

.link-address {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  margin-right: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address:focus,
.link-address:hover {
  color: #404bbf;
}

.link-address:active {
  color: #404bbf;
}

/* #endregion */




