@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* #region Hero */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/dark-bgt@1x.webp");

    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
  }

  .title-hero {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
  }
  /* #endregion */

  /* #region Feature */
  .list-feature {
    max-width: 736px;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }

  .item-feature {
    width: calc((100% - 1 * 24px) / 2);
  }

  .feature-title {
    text-align: start;
  }

  /* #endregion */

  /* #region Card */
  .list-card {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    max-width: 736px;
  }

  /* #endregion */

  /* #region Portfolio */

  .img-portfolio {
    width: 356px;
    height: 300px;
  }

  .list-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 736px;
  }

  .item-portfolio {
    width: calc((100% - 24px * 1) / 2);
  }

  /* #endregion */

  /* #region Footer */
  .footer-container {
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
    text-align: start;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .text-footer {
    max-width: 264px;
  }
  .footer-logo-text {
    margin-left: 108px;
  }

  .social-media {
    align-items: flex-start;
    margin-left: 24px;
  }

  .email-input-footer {
    margin-left: 108px;
  }
  .footer-input {
    width: 264px;
  }
.footer-form {
  display: flex;
  gap: 24px;
  flex-direction: row;
  align-items: flex-end;
}
  /* #endregion */
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/dark-bgt@2x.webp");
  }
}
